/* your code */
 table {
            border-collapse: collapse;
            width: 100%;
			border:20px;
        }
		 
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;

        }

        th {
            background-color: royalblue;
        }